*{
    margin: 0;
    padding: 0;
}

header{ 
    background-color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

header > h1{
    font-size: 3em; 
    margin-bottom: 5px;
}

header > h2{
    font: 1.2em Arial, sans-serif;
}

.redspan{
    color: red;
}

.greenspan{
    color: green
}

main{
    background-color: aquamarine;
    padding: 40px;
}
